[Unit]
Description=Sync media and check for updates
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=pi
ExecStart=/usr/bin/python3 /home/pi/vlc-player/main.py sync
ExecStart=/usr/bin/python3 /home/pi/vlc-player/main.py update

