[Unit]
Description=VLC Player
After=vlc-maintenance.service network-online.target
Wants=network-online.target

[Service]
User=__USER__
WorkingDirectory=__DIR__
Environment=DISPLAY=:0
ExecStart=/usr/bin/python3 __DIR__/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
